* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #444;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h1 {
  font-size: 36px;

  font-weight: bold;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 15px;
}

li {
  font-size: 18px;
}
body {
  background-color: blanchedalmond;
  border-top: 10px solid #1098ad;
  position: relative;
}
.container {
  width: 80%;
  margin-inline: auto;
}

.main-header {
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}
.main-header h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
.post-header {
  margin-bottom: 40px;
}
h3 + p::first-line {
  color: red;
}
.post-image {
  margin-bottom: 40px;
  width: 100%;
}

header {
  background-color: #f2f2f2;
}

aside {
  background-color: #f2f2f2;
  border-block: 5px solid #1098ad;
  padding: 50px 30px;
  width: 400px;
}
footer p {
  font-size: 18px;
  text-align: center;
  margin: 30px;
}

li {
  margin-bottom: 10px;
}
li:first-child {
  font-weight: bold;
}

Li:last-child {
  color: orangered;
  margin-bottom: 0;
}
li:nth-child(2) {
  color: green;
}

a:link,
a:visited {
  color: magenta;
  text-decoration: none;
}

a:hover {
  color: orangered;
  text-decoration: underline;
  font-weight: bold;
}
a:active {
  background-color: #bbb;
  font-style: italic;
}
/* .main-container {

} */
.like {
  position: absolute;

  font-size: 22px;
  padding: 20px;

  bottom: 50px;
  right: 50px;
}
